.suggested-recipe-container {
	padding: 1rem 0;
	color: #475467;
	line-height: 28px;
	font-size: 1.125rem;
	font-weight: 400;
	display: flex;
	flex-direction: column;
}

.suggested-recipe-container ul li,
.suggested-recipe-container ol li {
	margin-bottom: 8px;
}

.loading {
	margin: 0;
	font-weight: bold;
}

.reset-btn {
	border-radius: 6px;
	background: #d17557;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
	color: #fafaf8;
	padding: 6px 10px;
	font-size: clamp(1rem, 1.2vw, 1.2rem);
	transition: transform 0.2s ease-in-out;
	width: max-content;
	place-self: center;
}
.reset-btn:hover {
	transform: scale(1.1);
}
