.suggested-recipe-container {
	padding: 1rem 0;
	color: var(--color-text-muted);
	line-height: 28px;
	font-size: var(--font-size-md);
	font-weight: 400;
	display: flex;
	flex-direction: column;
}

.suggested-recipe-container ul li,
.suggested-recipe-container ol li {
	margin-bottom: 8px;
}

/* Loading */
.loading {
	margin: 0;
	font-weight: bold;
}

/* Reset / Start Over button */
.reset-btn {
	border-radius: var(--radius-sm);
	background: var(--color-accent);
	box-shadow: var(--shadow-xs);
	color: var(--color-off-white);
	padding: 6px 10px;
	font-size: var(--font-size-md);
	transition: transform 0.2s ease-in-out;
	width: max-content;
	align-self: center;
}

.reset-btn:hover {
	transform: scale(1.05);
}
