ul.ingredients-list {
	margin-bottom: 48px;
}

ul.ingredients-list > li {
	color: #475467;
	line-height: 28px;
}

h2 {
	font-size: clamp(1rem, 2.5vw, 1.5rem);
}

/* Get Recipe CTA */
.get-recipe-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 8px;
	background: #f0efeb;
	padding: 10px 28px;
	gap: 1.2rem;
}
.get-recipe-container h3 {
	font-weight: 500;
	line-height: 24px;
}
.get-recipe-container p {
	color: #6b7280;
	line-height: 20px;
}
.get-recipe-container button {
	border-radius: 6px;
	background: #d17557;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
	color: #fafaf8;
	padding: 9px 17px;
}
.get-recipe-container button:hover {
	transform: scale(1.1);
}

.get-recipe-container button,
.get-recipe-container p,
.get-recipe-container h3 {
	font-size: clamp(1rem, 1.2vw, 1.2rem);
}

@media (max-width: 400px) {
	.get-recipe-container button,
	.get-recipe-container h3 {
		white-space: nowrap;
	}
	.get-recipe-container {
		flex-direction: column;
	}
}
