main {
	padding: 30px 30px 10px;
}
.tagline {
	text-align: center;
	padding-bottom: 1.1rem;
	margin: 0;
	font-size: clamp(1.2rem, 1.2rem + 1vw, 1.5rem );
}
/* Add ingredients Form */
form {
	display: flex;
	justify-content: center;
	gap: 12px;
	height: 38px;
}

form > input {
	border-radius: 6px;
	border: 1px solid #d1d5db;
	padding: 10px 13px;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
	flex-grow: 1;
	max-width: 400px;
	min-width: 150px;
}

form > button {
	font-family: inter, sans-serif;
	border-radius: 6px;
	border: none;
	background-color: #141413;
	color: #fafaf8;
	font-size: 0.875rem;
	width: 150px;
	font-weight: 500;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
}

form > button:hover {
	background-color: #484747;
}

form > button::before {
	content: "+ ";
	margin-right: 5px;
}
