main {
	padding: 30px 16px 10px;
}

@media (min-width: 480px) {
	main {
		padding: 30px 30px 10px;
	}
}

/* Tagline */
.tagline {
	text-align: center;
	padding-bottom: 1.1rem;
	margin: 0;
	font-size: var(--font-size-lg);
}

/* Error message */
.err-msg {
	position: absolute;
	opacity: 0;
	background-color: var(--color-dark);
	color: var(--color-white);
	padding: 0.6rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--radius-md);
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	font-size: var(--font-size-sm);
	white-space: nowrap;
}

.err-msg.visible {
	opacity: 1;
}

/* --- Add Ingredient Form --- */
.ingredient-form {
	display: flex;
	justify-content: center;
	gap: 12px;
	height: 38px;
}

.ingredient-form input {
	border-radius: var(--radius-sm);
	border: 1px solid var(--color-border);
	padding: 10px 13px;
	box-shadow: var(--shadow-xs);
	flex-grow: 1;
	max-width: 400px;
	min-width: 120px;
	font-family: var(--font-main);
	font-size: var(--font-size-base);
}

.ingredient-form button {
	border-radius: var(--radius-sm);
	background-color: var(--color-dark);
	color: var(--color-off-white);
	font-size: var(--font-size-sm);
	width: 140px;
	font-weight: 500;
	transition: background-color 0.2s ease-in-out;
}

@media (min-width: 480px) {
	.ingredient-form button {
		width: 150px;
	}
}

.ingredient-form button:hover {
	background-color: var(--color-dark-hover);
}

.ingredient-form button::before {
	content: "+ ";
	margin-right: 5px;
}
