* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Tajawal", sans-serif;
	background-color: #fafaf8;
}

button {
	white-space: nowrap;
	cursor: pointer;
	font-family: "Tajawal", sans-serif;
	border: none;
}
