:root {
	/* Colors */
	--color-bg: #fafaf8;
	--color-dark: #141413;
	--color-dark-hover: #484747;
	--color-accent: #d17557;
	--color-surface: #f0efeb;
	--color-text-muted: #475467;
	--color-text-subtle: #6b7280;
	--color-border: #d1d5db;
	--color-white: #ffffff;
	--color-off-white: #fafaf8;

	/* Typography */
	--font-main: "Tajawal", sans-serif;
	--font-size-sm: 0.875rem;
	--font-size-base: clamp(0.9rem, 1.5vw, 1.25rem);
	--font-size-md: clamp(1rem, 1.3vw, 1.4rem);
	--font-size-lg: clamp(1.2rem, 1.2rem + 1vw, 1.7rem);
	--font-size-xl: clamp(1.5rem, 3vw, 2.2rem);

	/* Spacing */
	--radius-sm: 6px;
	--radius-md: 8px;
	--radius-full: 20px;

	/* Shadows */
	--shadow-xs: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
	--shadow-sm:
		0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
	--shadow-toast: 0 1px 4px rgba(0, 0, 0, 0.15);
}

/* Reset */
* {
	box-sizing: border-box;
}

/* Base */
body {
	margin: 0;
	font-family: var(--font-main);
	background-color: var(--color-bg);
	font-size: var(--font-size-base);
}

button {
	white-space: nowrap;
	cursor: pointer;
	font-family: var(--font-main);
	border: none;
}
